@charset "utf-8";
/* CSS Document */

/*----------------------
	デフォルトスタイル
-----------------------*/
body,p,h1,h2,h3,h4,h5,h6,
span,small,strong,
div,ul,li,
figure,img,
header,footer,nav,section{
    margin:0;
    padding:0;
	border:none;
	outline:none;
	font-size:1rem;
}

header,footer,nav,section{display:block;}

html{
	font:13px/1.3 "ヒラギノ丸ゴ Pro W3";
	-webkit-text-size-adjust:none;}

li{list-style:none;}



/*----------------------------------------
	全ページ共有ここから
----------------------------------------*/
body{

    /*background: #f1f0fb96;*/
    background-image: url("../img/bg.jpg");
    color:#2a4abd;
}

/* リンク色変更はここ */
a{
	color:#52a9a2;
	text-decoration:none;
}

/*【角丸】
 　角丸にしたいコンテンツに
 　クラスで指定してください。
*/
.corner{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.corner img{
	background:#FFF;
	padding:1px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

/*--------------------
	共通ヘッダ部分
--------------------*/
header{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(1.00, #A2AA67), color-stop(0.50, #ADB574), color-stop(0.49, #B4BA7F), color-stop(0.00, #B9BF85));
	background:-webkit-linear-gradient(top, #B9BF85 0%, #B4BA7F 49%, #ADB574 50%, #A2AA67 100%);
	background:-moz-linear-gradient(top, #B9BF85 0%, #B4BA7F 49%, #ADB574 50%, #A2AA67 100%);
	background:-o-linear-gradient(top, #B9BF85 0%, #B4BA7F 49%, #ADB574 50%, #A2AA67 100%);
	background:-ms-linear-gradient(top, #B9BF85 0%, #B4BA7F 49%, #ADB574 50%, #A2AA67 100%);
	background:linear-gradient(top, #B9BF85 0%, #B4BA7F 49　%, #ADB574 50%, #A2AA67 100%);
	border-bottom:solid 1px #787C55;
}

/*	サイト名やタイトル
--------------------*/
header h1{
	padding:.25em 0;
	border-bottom:solid 1px #EFF1D6;
	color:#EFF1D6;
	font-size:24px;
	text-shadow:0 0 1px #CCD1A2;
	text-align:center;
}


/*	メニュー
--------------------*/
#menu{
	width:100%;
	overflow:hidden;
	border-top:solid 1px #FFF;
	position:relative;
}

nav li{
    /*background:-webkit-gradient(linear, left top, left bottom, color-stop(1.00, #FFD7D3), color-stop(0.50, #FFD7D3), color-stop(0.49, #FFE1DE), color-stop(0.00, #FFD7D3));
    background:-webkit-linear-gradient(top, #e5e5ff 0%, #e5e5ff 49%, #dbdbff 50%, #dbdbff 100%);
    background:-moz-linear-gradient(top, #FFD7D3 0%, #FFE1DE 49%, #FFD7D3 50%, #FFD7D3 100%);
    background:-o-linear-gradient(top, #FFD7D3 0%, #FFE1DE 49%, #FFD7D3 50%, #FFD7D3 100%);
    background:-ms-linear-gradient(top, #FFD7D3 0%, #FFE1DE 49%, #FFD7D3 50%, #FFD7D3 100%);
    background:linear-gradient(top, #FFD7D3 0%, #FFE1DE 49%, #FFD7D3 50%, #FFD7D3 100%);*/
    /*border-bottom:solid 1px #EFF1D6;*/
    width:33.3%;
    /*border-bottom:solid 1px #D8BBBA;*/
    /*font-size:14px;*/
    text-align:center;
    float:left;
}

nav li.active{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(1.00, #FFD7D3), color-stop(0.50, #FFE1DE), color-stop(0.49, #FFD7D3), color-stop(0.00, #FFD7D3));
	background:-webkit-linear-gradient(top, #FFD7D3 0%, #FFD7D3 49%, #FFE1DE 50%, #FFD7D3 100%);
	background:-moz-linear-gradient(top, #FFD7D3 0%, #FFD7D3 49%, #FFE1DE 50%, #FFD7D3 100%);
	background:-o-linear-gradient(top, #FFD7D3 0%, #FFD7D3 49%, #FFE1DE 50%, #FFD7D3 100%);
	background:-ms-linear-gradient(top, #FFD7D3 0%, #FFD7D3 49%, #FFE1DE 50%, #FFD7D3 100%);
	background:linear-gradient(top, #FFD7D3 0%, #FFD7D3 49%, #FFE1DE 50%, #FFD7D3 100%);
}

nav li a{
	padding:.2em .1em;
	display:block;
	/*border-right:solid 1px #CFB9B9;*/
	/*border-left:solid 1px #FFF;*/
	/*border-left:solid 1px #FFF;*/
	/*border-left:solid 1px #FFF;*/
	/*border-bottom:solid 1px #FFF;*/
	color:#5b5bd4;
	/*font-weight:bold;*/
	text-shadow:-1px 0px 8px #a0afdc, 4px 4px 1px #a7a7ab;
}
nav li.active a{
	color:#FFA49B;
	text-shadow:-1px -1px 1px #CC837C,1px 1px 1px #FFF;
}

.button {
   border-top: 1px solid #3cb2e8;
   background: #b8dbf2;
   background: -webkit-gradient(linear, left top, left bottom, from(#303bdb), to(#b8dbf2));
   background: -webkit-linear-gradient(top, #303bdb, #b8dbf2);
   background: -moz-linear-gradient(top, #303bdb, #b8dbf2);
   background: -ms-linear-gradient(top, #303bdb, #b8dbf2);
   background: -o-linear-gradient(top, #303bdb, #b8dbf2);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #616587;
   background: #616587;
   color: #ede8ed;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

/*	セクションボーダー
--------------------*/
section{
	padding:10px 0;
	/*border-top:solid 1px #FFF;*/
	/*border-bottom:solid 1px #E6D9D9;*/
}


/*	広告
--------------------*/
.ad{
	max-width:95%;
	margin:auto;
	overflow:hidden;
	display:block;
	text-align:center;
	border:solid 1px #FFF;
}

.ad img{
	max-width:98.5%;
	height:auto;
	margin:auto;
	display:block;
	border:solid 1px #E0E4B4;
}

.ad span{
	background:#FFF;
	max-width:98.5%;
	height:auto;
	margin:auto;
	padding:5px;
	display:block;
	border:solid 1px #E0E4B4;
	text-align:left;
}

/*	タイトル
--------------------*/
#title h1{
	font-size:30px;
	text-align:center;
}


/*--------------------
	共通フッター部分
--------------------*/
footer{
	padding-top:10px;
	border-top:solid 1px #FFF;
}

footer a{
	text-decoration:underline;
}

/*	インデックス・戻る
--------------------*/
.jump{
	overflow:hidden;}

.goindex,
.back{
	background:#2a4abdc4;
	color:#FFF;
	position:relative;
	float:right;
}

.goindex{
	padding:.65em 1.5em;

	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
}

.back{
	margin:3px 1px 0 0;
	padding:.525em 1.5em .5em 1em;
	float:right;

	-moz-border-radius:5px 0px 5px 0px;
	-webkit-border-radius:5px 0px 5px 0px;
	border-radius:5px 0px 5px 0px;
}

/*	フッタメニュー
--------------------*/
.foot_nav{
	background:#2a4abdc4;
	padding:.8em .5em .5em;
	overflow:hidden;
	clear:both;
}

.foot_nav ul{
	width:50%;
	color:#FFF;
	float:left;
	position:relative;
}

.foot_nav ul li{
	margin:auto;
	margin-bottom:2px;
}

.foot_nav ul li a{
	width:98%;
	padding:.75em 0;
	font-size:12px;
	display:block;
	color:#FFF;
	border-style:solid;
	border-color:#BCC28B #D8DBBB #D8DBBB #BCC28B;
	border-width:1px 1px 1px 1px;
	text-align:center;
}

#copy{
	padding:.5em 0;
	font-size:12px;
	text-align:center;
}


/*----------------------------------------
 INDEXページここから
----------------------------------------*/
/*	TOP画像
--------------------*/
.top_img{
/*	padding:10px 0;*/
	overflow:hidden;
	/*border-top:solid 1px #FFF;*/
	/*border-bottom:solid 1px #E6D9D9;*/
        margin: -2.5px 0;
}

.top_img img{
	max-width:100%;
	height:auto;
	/*border:solid 1px #E0E4B4;*/
}


/* カテゴリリスト
--------------------*/
.cate_list{
	margin:0 .45em;
}

.cate_list li{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(1.00, #F0F0F0), color-stop(0.50, #F6F6F6), color-stop(0.49, #FBFBFB), color-stop(0.00, #FFF));
	background:-webkit-linear-gradient(top, #FFF 0%, #FBFBFB 49%, #F6F6F6 50%, #F0F0F0 100%);
	background:-moz-linear-gradient(top, #FFF 0%, #FBFBFB 49%, #F6F6F6 50%, #F0F0F0 100%);
	background:-o-linear-gradient(top, #FFF 0%, #FBFBFB 49%, #F6F6F6 50%, #F0F0F0 100%);
	background:-ms-linear-gradient(top, #FFF 0%, #FBFBFB 49%, #F6F6F6 50%, #F0F0F0 100%);
	background:linear-gradient(top, #FFF 0%, #FBFBFB 49%, #F6F6F6 50%, #F0F0F0 100%);
	margin-bottom:.5em;
	border:solid 1px #FFF;}

.cate_list li a{
	display:block;
	overflow:hidden;
	color:#AFB293;
	border:solid 1px #B1B879;
	position:relative;
}

.cate_list li a span.icon{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(1.00, #A5A88B), color-stop(0.50, #ABAE91), color-stop(0.49, #D5D7C8), color-stop(0.00, #B6B89C));
	background:-webkit-linear-gradient(top, #B6B89C 0%, #D5D7C8 49%, #ABAE91 50%, #A5A88B 100%);
	background:-moz-linear-gradient(top, #B6B89C 0%, #D5D7C8 49%, #ABAE91 50%, #A5A88B 100%);
	background:-o-linear-gradient(top, #B6B89C 0%, #D5D7C8 49%, #ABAE91 50%, #A5A88B 100%);
	background:-ms-linear-gradient(top, #FFF 0%, #D5D7C8 49%, #ABAE91 50%, #A5A88B 100%);
	background:linear-gradient(top, #B6B89C 0%, #D5D7C8 49%, #ABAE91 50%, #A5A88B 100%);
	width:100%;
	padding:3px;
	display:block;
	color:#FFF;
	font-size:20px;
	letter-spacing:-2px;
	float:center;
}

.cat_list_right{
	width:200px;
	padding:0 15px 0 5px;
	float:right;
}

.cat_list_right small{
	margin-top:.8em;
	display:block;
	font-size:smaller;
}

.cat_list_right h3{
	font-size:16px;
}

.cate_list li a:after{
	content:">";
	width:1em;
	height:1em;
	margin-top:-11px;
	color:#FFA49B;
	font-size:18px;
	font-weight:bold;
	text-shadow:0 0 1px #FFA49B;
	position:absolute;
	top:50%;
	right:-7px;
}


/*----------------------------------------
 ・カテゴリーページ
 ・アバウトページ
 ・ニュースページ
 ・フリーページここから
----------------------------------------*/
/* リスト繰り返し
--------------------*/
.free_list li div,
.free_list li a:not(.part_link){
	padding:1em 1.2em 1em 1em;
	display:block;
	overflow:hidden;
	position:relative;
	border-top:solid 1px #FFF;
	border-bottom:solid 1px #E6D9D9;
}

.free_list li:first-child div,
.free_list li:first-child a:not(.part_link){
	padding-top:0;
	border-top:none;

}

.free_list li:last-child div,
.free_list li:last-child a:not(.part_link){
	border-bottom:none;
}

.free_list li a:after{
	content:">";
	width:1em;
	height:1em;
	margin-top:-3px;
	font-size:18px;
	font-weight:bold;
	text-shadow:0 0 1px #FFA49B;
	position:absolute;
	top:50%;
	right:-5px;
}

.free_list li a.part_link:after{
	content:"";
	display:none;
}

.free_list li div h3,
.free_list li a h3{
	font-size:16px;
	line-height:1.1;
	position:relative;
}

.free_list li div h3:before,
.free_list li div h3:after,
.free_list li a h3:before,
.free_list li a h3:after{
	content:"";
	display:block;
	position:absolute;
	top:50%;
}

.free_list li div h3:before,
.free_list li a h3:before{
	width:1px;
	height:.5em;
	margin-left:-.9em;
	border-left:solid 1px #798338;}

.free_list li div h3:after,
.free_list li a h3:after{
	width:0;
	height:0;
	margin-left:-.8em;
	border-top:solid 4px transparent;
	border-right:solid 5px transparent;
	border-bottom:solid 4px transparent;
	border-left:solid 5px #798338;
}

/*	リスト画像有り(画像サイズ小)
--------------------*/
.img60 img{
	max-width:60px;
	height:auto;
	margin-right:.5em;
	padding:0;
	float:left;
}

.img60 h3{
	margin:0 0 .2em 80px;
	color:#798338;}

a.img60 p{
	color:#B0B777;
}

.img60 h3:after,
.img60 h3:before{
	margin-top:-.2em;}

/*	リスト画像有り(画像サイズ大)
--------------------*/
.img80 img{
	max-width:80px;
	height:auto;
	margin-right:.5em;
	padding:0;
	float:left;
}

.img80 h3{
	margin:0 0 .2em 100px;
	color:#798338;}

a.img80 p{
	color:#B0B777;
}

.img80 h3:after,
.img80 h3:before{
	margin-top:-.3em;
}

/*	リスト画像無し・リンク無し
--------------------*/
.no_img h3{
	margin:0 0 .2em 1em;
	color:#798338;}

.no_img h3:after,
.no_img h3:before{
	margin-top:-.2em;
}

a.no_img p{
	color:#B0B777;
}

/*	一部リンク
--------------------*/
.part_link{
	background:#FFA49B;
	padding:.1em .5em;
	color:#FFF;
}


/*----------------------------------------
 詳細ページここから
----------------------------------------*/
/*-- 本文 --*/
.free_txt{
	margin:0 .45em;
}

.free_eyecatch{
	max-width:95%;
	height:auto;
	margin:10px auto;
	display:block;
	border:solid 1px #E0E4B4;
}

p.free_eyecatch{
	background:#FFF;
	max-width:93%;
	height:auto;
	margin:auto;
	padding:5px;
	display:block;
	border:solid 1px #E0E4B4;
	text-align:left;
}

.btn{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(1.00, #FFCCC6), color-stop(0.00, #FFE3DF));
	background:-webkit-linear-gradient(top, #FFE3DF 0%, #FFCCC6 100%);
	background:-moz-linear-gradient(top, #FFE3DF 0%, #FFCCC6 100%);
	background:-o-linear-gradient(top, #FFE3DF 0%, #FFCCC6 100%);
	background:-ms-linear-gradient(top, #FFE3DF 0%,  #FFCCC6 100%);
	background:linear-gradient(top, #FFE3DF 0%, #FFCCC6 100%);

	margin-top:1em;
	display:block;
	border:solid 1px #FFD7D3;
}

.btn span{
	padding:.6em 0;
	display:block;
	border:solid 1px #FFF9ED;
	color:#B0B777;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	text-shadow:1px 1px 0 #8F9851,-1px -1px 0 #FFFFFF;
}

hr.style-two {
    border: 1px;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.octicons {
  display: inline-block;
  /*vertical-align: text-top;*/
  fill: currentColor;
}
